html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #020D36;
}

.header {
  width: 100%;
  height: 100px;
  background: #020D36;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;
  border-bottom: solid 1px #03e9f4;
}

#imgLogo {
  width: 150px;
}

.login-box {
  /*
    position: absolute;
    transform: translate(-50%, -50%);
    */
  text-align: center;
  top: 50%;
  left: 50%;
  width: 85vw;
  padding: 40px;
  background: #001F45;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

@media (min-width: 768px) {
  .login-box {
    width: 55vw;
  }
}

@media (min-width: 768px) and (orientation: portrait){
  .login-box {
    width: 75vw;
  }
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #03e9f4;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;

}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 3s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 3s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 3s linear infinite;
  animation-delay: 1.5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 3s linear infinite;
  animation-delay: 2.25s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.login-box-bottom {
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 20px;
  color: #fff;
  gap: 10px;

}

.cadastro {
  color: #03e9f4;
  background-color: transparent;
}

.cadastro:hover {
  text-decoration: underline;
  transition: all 3s;
  scale: 1.2;
  transition: 0.2s;

}

#link {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
  letter-spacing: 4px
}

.container input {
  z-index: 2;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: auto;
}

label span {
  position: absolute;
  display: block;
  z-index: 1;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background-color: #03e9f4;
  transition: 0.25s ease-in-out;
}

/* position das linhas do hamburguinho */
label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

/* o que acontece quando esta checked para cada spam */
#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0; /*esse vai sumir pq eh o x */
}

#checkbox-menu:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

/* agora o menu que some */
.menu {
  background-color: #ededed;
  position: absolute;
  width: 400px;
  padding: 80px;
  padding-top: 150px;
  /* para mover */
  margin: -100px 0 0 -50px;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  transform-origin: 0% 0%;

  list-style-type: none;
}

.menu a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

.menu li {
  padding: 10px 0;
  text-align: center;
  font-size: 22px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu li:hover {
  color: #03e9f4;
  font-weight: bold;
}

#checkbox-menu:checked ~ ul {
  transform: none;
}

.menu-header{
  display: flex;
  flex-direction: row;
}

.menu-header h5{
  margin: 0px 20px;
  font-size: 23px;
}

.login h1{
  font-size: 23px;
  margin: 10px;
  text-decoration: none;
}

.login a{
  text-decoration: none;
  color: white;
}